* {
    /* overflow: hidden; */
}

html, body {
    height: 100%;
}

body {
    background-image: url('./images/zaba.png');
}

header {
    height: 15%;
    /* height: 2em; */
    /* background: linear-gradient(90deg, rgba(12,68,0,1) 0%, rgba(32,72,0,1) 23%, rgba(57,0,92,1) 76%, rgba(59,0,82,1) 100%); */
    /* backdrop-filter: blur(15px); */
    background: linear-gradient(90deg, rgba(71,33,88,1) 0%, rgba(125,63,153,1) 50%, rgba(71,33,88,1) 100%);
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    font-family: 'Press Start 2P', cursive;
}

h1 {
    /* height: 2em; */
    width: 100%;
    text-align: center;
    font-size: 48px;
    /* font-weight: bold; */

}

/* #timer {
    position: absolute;
    font-size: 24px;
    right: 7%;
    bottom: 10%;
} */

main {
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* height: 90%; */
}

.start {
    /* width: 40%; */
    width: 35em;
    height: 20em;
    padding: 0 2em 2em 2em;
    /* height: 50%; */
    border: 5px solid purple;
    border-radius: 1em;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-self: center;
    background: radial-gradient(circle, rgba(36,3,77,1) 0%, rgba(121,9,113,1) 85%, rgba(179,7,246,1) 100%, rgba(0,212,255,1) 100%);
    font-size: 18px;
}

.start h2 {
    text-align: center;
    font-size: 32px;
    padding: 1em;
}

.start button {
    /* position: absolute; */
    /* height: 300%; */
    margin-top: auto;
    /* position: absolute; */
    bottom: 1em;
    /* display: inline-block; */
    /* width: 100%; */
}

.question-box {
    /* padding: 5em 10em; */
    padding: 2%;
    height: 60%;
    width: 45%;
    border: 5px solid purple;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    border-radius: 1em;
    background: radial-gradient(circle, rgba(36,3,77,1) 0%, rgba(121,9,113,1) 85%, rgba(179,7,246,1) 100%, rgba(0,212,255,1) 100%);
}

.quiz {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#question {
    font-size: 24px;
}

#answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    position: relative;
}

.question-box h2 {
    color: white;
    overflow: visible;
    margin-bottom: auto;
}

#answers ul {
    text-align: center;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#answers li {
    margin: .2em;
}

button {
    width: 100%;
    border-radius: 5em;
    padding: .3em;
    background-color: #4B0082;
    border: 3px solid #D8BFD8;
    color: white;
}

button:hover {
    background-color: plum;
}

button:active {
    box-shadow: 2px 2px 8px #666 inset;
}

.button-incorrect {
    background-color: #FF004F;
}

#confirmation {
    position: absolute;
    bottom: 0.1em;
    left: 0;
}

#timer {
    position: absolute;
    bottom: .1em;
    right: 0;
}

#fail {
    font-size: 44px;
}

#try-again {
    margin-top: auto;
}

.image-box {
    width: 500px;
    height: 500px;
    /* max-width: 20%; */
    /* max-height: 90%; */
    /* margin: auto; */
    /* min-width: 323px;
    min-height: 323px;
    max-width: 900px;
    max-height: 900px; */
    border: 3px solid maroon;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 100%;
    background: linear-gradient(120deg, rgba(179,7,246,1) 0%, rgba(121,9,113,1) 51%, rgba(36,3,77,1) 100%);
    /* position: relative; */
}

.image-holder {
    border-radius: 100%;
    width: 450px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-box img {
    min-width: 100%;
    min-height: 100%;
    border-radius: 100%;
    flex-shrink: 0.4;
}

.highscores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 60%; */
}

.highscores h2 {
    display: inline-block;
    margin-bottom: 5%;
    font-size: 24px;
}

.highscores ul {
    margin-bottom: 5%;
}

.highscores ul li, .highscores label {
    color:#D8BFD8;
    font-size: 18px;
}

.highscores input {
    background-color: #D8BFD8;
    border-radius: 5%;
    border: none;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    main {
        flex-direction: column-reverse;
    }

    .start {
        width: 80%;
        height: auto;
        font-size: medium;
    }

    .start h2 {
        font-size: 24px;
    }

    .start p {
        margin-bottom: 2em;
    }

    .image-box {
        width: 270px;
        height: 270px;
        margin-top: 0.3em;
    }

    .image-holder {
        width: 90%;
        height: 90%;
    }

    .question-box {
        width: 80%;
        height: 55%;
        margin: 0.3em 0;
    }

    .highscores {
        /* height: 40% */
    }

    #question {
        margin-bottom: -10%;
        font-size: 16px;
    }

    #timer {
        margin-bottom: 1%;
    }
}

@media screen and (max-width: 321px) {
    /* #image-box {
        width: 60%;
    } */

    .start {
        height:auto;
    }

    .image-box {
        width: 200px;
        height: 200px;
    }

    .question-box {
        height: 55%;
    }
}